<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>54</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net9.0-windows7.0\app.publish\</PublishDir>
    <PublishUrl>C:\Users\yektamak-118\OneDrive - YEKTAMAK MAKİNA MÜHENDİSLİK İMALAT SAN.TİC.LTD.ŞTİ\ErpSetup\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net9.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://yektamaktr-my.sharepoint.com/:f:/g/personal/cevdet_oguz_yektamak_com_tr/IgBpKfJXkqUDSY40Kv48Q1T5AXxe3ZJwDXhynGanCpQ75PI?e=qT2cwi/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <InstallUrl>https://yektamaktr-my.sharepoint.com/:f:/g/personal/cevdet_oguz_yektamak_com_tr/IgBpKfJXkqUDSY40Kv48Q1T5AXxe3ZJwDXhynGanCpQ75PI?e=qT2cwi/</InstallUrl>
    <ManifestCertificateThumbprint>314010D50299C1920081CBC294B426E2025AC018</ManifestCertificateThumbprint>
    <ManifestKeyFile>YektamakDesktop_TemporaryKey.pfx</ManifestKeyFile>
    <History>True|2026-01-29T06:06:28.5109499Z||;True|2026-01-21T22:38:47.0288544+03:00||;True|2026-01-21T22:35:40.9186723+03:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.x64">
      <Install>true</Install>
      <ProductName>.NET Masaüstü Çalışma Zamanı 9.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>