<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>48</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net9.0-windows7.0\app.publish\</PublishDir>
    <PublishUrl>Y:\07 SIRKET ICI DOSYA PAYLASIM\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net9.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>\\filesrv\departmanlar\07 SIRKET ICI DOSYA PAYLASIM\</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ManifestCertificateThumbprint>314010D50299C1920081CBC294B426E2025AC018</ManifestCertificateThumbprint>
    <ManifestKeyFile>YektamakDesktop_TemporaryKey.pfx</ManifestKeyFile>
    <History>True|2026-01-21T14:27:08.5054351Z||;True|2026-01-21T17:25:05.6263604+03:00||;True|2026-01-21T14:00:44.9550546+03:00||;True|2026-01-20T14:25:19.5702132+03:00||;True|2026-01-20T14:15:48.5397261+03:00||;True|2026-01-20T13:35:09.1432274+03:00||;True|2026-01-20T12:07:25.0207383+03:00||;True|2026-01-20T11:25:03.4532728+03:00||;True|2026-01-20T11:07:27.8664610+03:00||;False|2026-01-20T11:06:12.2531976+03:00||;True|2026-01-20T10:59:34.4512733+03:00||;True|2026-01-20T10:52:41.0758923+03:00||;True|2026-01-20T10:52:03.2231384+03:00||;False|2026-01-19T21:32:02.6751584+03:00||;False|2026-01-19T21:27:03.0083079+03:00||;False|2026-01-19T21:00:23.9268709+03:00||;False|2026-01-19T20:16:49.3334306+03:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.x64">
      <Install>true</Install>
      <ProductName>.NET Masaüstü Çalışma Zamanı 9.0.11 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
  <ItemGroup>
    <PublishFile Include="logo.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>