<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>45</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net9.0-windows7.0\app.publish\</PublishDir>
    <PublishUrl>E:\setup\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(yok)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net9.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <UpdateUrl>https://yektamaktr-my.sharepoint.com/:f:/g/personal/cevdet_oguz_yektamak_com_tr/IgBpKfJXkqUDSY40Kv48Q1T5AXxe3ZJwDXhynGanCpQ75PI?e=Kdv10a/</UpdateUrl>
    <WebPageFileName>Publish.html</WebPageFileName>
    <InstallUrl>https://yektamaktr-my.sharepoint.com/:f:/g/personal/cevdet_oguz_yektamak_com_tr/IgBpKfJXkqUDSY40Kv48Q1T5AXxe3ZJwDXhynGanCpQ75PI?e=Kdv10a/</InstallUrl>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.x64">
      <Install>true</Install>
      <ProductName>.NET Masaüstü Çalışma Zamanı 9.0.12 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>